@{
  ViewData["Title"] = "Recipe List";
}

<h2>Recipe List</h2>

<ol>
@foreach (Recipe recipe in Model)
{
  <li><a href="/Recipes/Details/@(recipe.RecipeId)">@recipe.Title</a></li>
}
</ol>

<div class="buttons">
  <p>@Html.ActionLink("Create New Recipe", "Create")</p>
</div>